---
interface Props {
    id: string;
    name: string;
    description: string;
    extension?: string;
    techStack?: string[];
}

const { id, name, description, extension = "png", techStack} = Astro.props;
const url = `https://github.com/Izikie/${id}`;
---

<li class="list-none flex p-0.5 rounded-lg link-card">
    <a href={url}>
        <img src={`projects/${id}.${extension}`} width="320" height="270">
        <h2 class="font-5xl font-bold text-white">{name}</h2>
        <p class="mt-2">{description}</p>

		<ul class="flex flex-wrap mt-2">
			{techStack?.map(tech => (
				<!-- Do Tech Badges -->
			))}
		</ul>
    </a>
</li>

<style>
	.link-card {
		background-color: #23262d;
		transition: scale 0.3s cubic-bezier(0.22, 1, 0.36, 1);
	}
	.link-card > a {
		width: 100%;
		padding: calc(1.5rem - 1px);
		background-color: #23262d;
	}
	img {
		width: 100%;
	}
	.link-card:is(:hover, :focus-within) {
		scale: 1.015;
		outline: 2px solid white;
	}

	h2 {
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>
